<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Signup</title>
</head>
<body>
<div class="container">
<form class="form-signin">
  <h2 class="form-signin-heading">サインアップ</h2>
  <div id="message" class="alert" style="display:none;"></div>
  <label for="inputUsername" class="sr-only">ユーザー名</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="User name" required autofocus></input>
  <label for="inputPassword" class="sr-only">パスワード</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required></input>
  <br/>
  <input type="button" class="btn btn-lg btn-primary btn-bloc" id="user_add_btn" value="ユーザーを作成する"></input>
</form>
</div>
</body>
</html>