option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: yoshi340jp@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    STARTUP_SIGNUP_TABLE: Users
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
    // RDS setting
    RDS_USERNAME: "master"
    RDS_PASSWORD: "mypassword"
    RDS_DB_NAME: "ebdb"
    RDS_HOSTNAME: "aayz56vfakddoy.chxgch9eb2fd.us-west-2.rds.amazonaws.com"
    RDS_PORT: "3306"

    // Cognito setting
    COGNITO_USER_POOLID: 'us-west-2_GnuWf0Dnq'
    COGNITO_CLIENTID: '5q40303u3543cs3nkeip39u5i1'
    COGNITO_REGIONID:'us-west-2'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
