<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">
  </head>

  <body>
	<div>
		<lable><%= error_msg %></label>
	</div>
    <form action="<%= '/' + hotel_id + '/loginauth'%>" method="post">
      <div>
          <label>ユーザーID：</label>
          <input type="text" id="username" name="username"/>
      </div>
      <div>
          <label>パスワード：</label>
          <input type="password" id="password" name="password"/>
      </div>
      <div>
          <input type="submit" id="login" value="ログイン"/>
      </div>
  </form>
  </body>
</html>
